<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="permon home" src="{{ "/assets/img/permeon-home.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Permeon - Blockchain Video Platform</h3>
    <ul>
      <li> react </li>
      <li> steem blockchain </li>
      <li> redux </li>
    </ul>
    <p>Video platform built on the steem blockchain. Allows creators to upload video links to the steem blockchain and
      get paid. It's an alternative to ad based payment systems.</p>

    <a class="project-link" href="https://permeon.github.io/permeon-client/dist">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="chat logger" src="{{ "/assets/img/rs-chat-logger.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rs Chat Logger </h3>
    <ul>
      <li> node.js </li>
      <li> react </li>
      <li> websockets </li>
    </ul>
    <p>
      A web app that provides a ui and a restful api for runescape ingame messages.
      The messages are collected with a modified client written in java.
    </p>
    <a class="project-link" href="http://rs-chat-logger.surge.sh/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="nba network" src="{{ "/assets/img/nba-twitter-network.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Nba Twitter Network </h3>
    <ul>
      <li> react </li>
      <li> d3.js</li>
      <li> twitter api </li>
    </ul>
    <p>
      A little visualization of nba player networks on twitter.
      Uses d3 inside of react. React obviously is not needed, but I wanted to see how to
      integrate a third party lib that uses the dom.
    </p>
    <a class="project-link" href="http://nba-networks.surge.sh">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="gps logger" src="{{ "/assets/img/gps-logger.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Gps Logger </h3>
    <ul>
      <li> react </li>
      <li> django rest api </li>
    </ul>
    <p>
      Small web app using react and django-rest-framework.
      Records coordinates using the browsers geolocation service.
    </p>
    <a class="project-link" href="https://geologger-client.herokuapp.com/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="reddit place" src="{{ "/assets/img/reddit-place.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Reddit Place </h3>
    <ul>
      <li> react </li>
    </ul>
    <p>
      Simple app that shows the final pixel placements.
      Each pixel is mapped to the user that placed it.
      The data comes from reddits final data dump.
    </p>
    <a class="project-link" href="http://reddit-place.surge.sh/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Alexa RS Ge Skill</h3>
    <ul>
      <li> node.js </li>
      <li> alexa sdk </li>
    </ul>
    <p>
      Alexa skill using the Runescape api to get price info about items.
      Uses fuzzy matching (levenstein distance) to match speech to an item.
    </p>
    <a class="project-link"
      href="https://www.amazon.com/caleb-logan-Unofficial-Grand-Exchange/dp/B06XS4ZL4L/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1501643093&sr=1-1&keywords=grand+exchange">Check
      it out</a>
  </div>
</div>